<% if @categories.exists? %>
    <h1><%= t ".title" %></h1>
    <% @categories.each do |category| %>
        <%= link_to category.name, product_category_path(category) %>
        <br>
        <br>
    <% end %>
<% else %>
    <div class="warning"><%= t ".empty_warning" %></div>
<% end %>

<hr> 

<div>
    <%= link_to (t ".create"), new_product_category_path %>

    <br>
    <br>

    <%= link_to (t ".back"), root_path %>
<div>