<h1><%= t '.details_of'  %><%= @category.name %></h1>
<br>
<%= ProductCategory.human_attribute_name(:name) %>: <%= @category.name %>
<br>
<br>
<%= ProductCategory.human_attribute_name(:code) %>: <%= @category.code %>
<br>
<br>

<hr>

<%= link_to (t '.edit'), edit_product_category_path(@category) %>

<br>
<br>

<%= link_to (t '.back'), product_categories_path %>
