<% if @promotions.exists? %>
    <% @promotions.each do |promotion| %>
        <p><%= t 'activerecord.attributes.promotion.name' %>: <%= link_to promotion.name, promotion_path(promotion) %></p>
        <p><%= t 'activerecord.attributes.promotion.description' %>:  <%= promotion.description %> </p>
        <p><%= t 'activerecord.attributes.promotion.discount_rate' %>: <%= number_to_percentage(promotion.discount_rate ) %> 
        </p>
        <hr>
    <% end %>

<% else %>
        <div class="warning"> <%= t '.warning' %></div>
<% end %>

<p><%= link_to (t '.create'), new_promotion_path %></p>
<p><%= link_to (t '.back'), root_path %></p>