<p><%= t 'activerecord.attributes.promotion.name' %>: <%= @promotion.name %></p>
<p><%= t 'activerecord.attributes.promotion.description' %>:  <%= @promotion.description %> </p>
<p><%= t 'activerecord.attributes.promotion.code' %>: <%= @promotion.code %> </p>
<p><%= t 'activerecord.attributes.promotion.discount_rate' %>: <%= number_to_percentage(@promotion.discount_rate, precision: 2, separator: ',') %> </p>
<p><%= t 'activerecord.attributes.promotion.coupon_quantity' %>: <%= @promotion.coupon_quantity %> </p>
<p><%= t 'activerecord.attributes.promotion.expiration_date' %>: <%= l @promotion.expiration_date %> </p>

<% if flash[:notice] %>
    <%= flash[:notice] %>
    <br>
    <% @promotion.coupons.each do |coupon| %>
        <%= coupon.code %>
    <% end %>
    
<% end %>

<p> <%= link_to (t 'promotion.generate_coupons'), generate_coupons_promotion_path(@promotion), method: :post %>
<p> <%= link_to (t 'promotion.edit'), edit_promotion_path(@promotion) %> </p>
<p> <%= link_to (t 'promotion.delete'), promotion_path(@promotion),
                method: :delete, data: { confirm: (t "promotion.delete_confirm") } %> </p>
<p> <%= link_to (t 'promotion.back'), promotions_path %> </p>

