<p>Nome: <%= @promotion.name %> </p>
<p>Descrição: <%= @promotion.description %> </p>
<p>Código de Cupom:<%= @promotion.code %> </p>
<p>Porcentagem de Desconto: <%= number_to_percentage(@promotion.discount_rate, precision: 2, separator: ',') %> </p>
<p>Quantidade: <%= @promotion.coupon_quantity %> </p>
<p>Vencimento do Cupom: <%= I18n.localize @promotion.expiration_date %> </p>

<% if flash[:notice] %>
    <%= flash[:notice] %>
<% end %>

<p> <%= link_to 'Emitir cupons', generate_coupons_promotion_path(@promotion), method: :post %>
<p> <%= link_to 'Editar', edit_promotion_path(@promotion) %> </p>
<p> <%= link_to 'Deletar', promotion_path(@promotion),
                method: :delete, data: { confirm: "Você tem certeza que deseja deletar?" } %> </p>
<p> <%= link_to 'Voltar', promotions_path %> </p>

