<p><%= Promotion.human_attribute_name(:name)  %>: <%= @promotion.name %></p>
<p><%= Promotion.human_attribute_name(:description) %>:  <%= @promotion.description %> </p>
<p><%= Promotion.human_attribute_name(:code) %>: <%= @promotion.code %> </p>
<p><%= Promotion.human_attribute_name(:discount_rate) %>: <%= number_to_percentage(@promotion.discount_rate, precision: 2, separator: ',') %> </p>
<p><%= Promotion.human_attribute_name(:coupon_quantity) %>: <%= @promotion.coupon_quantity %> </p>
<p><%= Promotion.human_attribute_name(:expiration_date) %>: <%= l @promotion.expiration_date %> </p>

<% if flash[:notice] %>
    <%= flash[:notice] %>
    <br>
<% end %>

<% if @promotion.coupons.any? %>
    <h2><%= t '.coupon_section' %></h2>
    <% @promotion.coupons.each do |coupon| %>
        <%= "#{coupon.code} (#{t ".#{coupon.status}"})" %>
        <% if coupon.active? %>
            <%= link_to (t '.disable_coupon'), disable_coupon_path(coupon), method: :post %> 
        <% end %>
        <% if coupon.inactive? %>
            <%= link_to (t '.enable_coupon'), enable_coupon_path(coupon), method: :post %> 
        <% end %>
    <% end %>
<% end %>


<% if @promotion.coupons.empty? %>
    <p> <%= link_to (t '.generate_coupons'), generate_coupons_promotion_path(@promotion), method: :post %>
<% end %>

<p> <%= link_to (t '.edit'), edit_promotion_path(@promotion) %> </p>
<p> <%= link_to (t '.delete'), promotion_path(@promotion),
                method: :delete, data: { confirm: (t ".delete_confirm") } %> </p>
<p> <%= link_to (t '.back'), promotions_path %> </p>